name: Deploy to Staging (stg)

on:
  push:
    branches: [stg]
  workflow_dispatch:

concurrency:
  group: deploy-to-stg
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deploy-to-stg
    timeout-minutes: 120

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ secrets.GH_PAT_CHECKOUT }}
          submodules: "recursive"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            public
            .cache
          key: gatsby-v1-${{ hashFiles('public') }}
          restore-keys: |
            gatsby-v1-

      - run: pnpm install --frozen-lockfile

      - run: pnpm run build
        env:
          # "bucketName" is a required option for gatsby-plugin-s3
          AWS_S3_BUCKET_NAME: "example"
          ALL_PAGES_TO_NO_INDEX: "true"
          GTM_ID: ${{ vars.GTM_ID }}
          PREFIX_PATHS: "true"
          GATSBY_SITE_URL: "https://bicstone.github.io/portfolio"
          PATH_PREFIX: "/portfolio"

      - run: |
          echo -e "User-agent: *\nDisallow: /" > ./public/robots.txt

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./public

      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

      - uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            public
            .cache
          key: gatsby-v1-${{ hashFiles('public') }}
